<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="cucumber.eclipse.launching.localCucumberFeature">
<stringAttribute key="cucumber feature" value="D:/Selenium_Ques/Selenium_Cucumber/launch.feature"/>
<stringAttribute key="glue path" value="classpath:"/>
<booleanAttribute key="is html formatter?" value="false"/>
<booleanAttribute key="is json formatter?" value="false"/>
<booleanAttribute key="is junit formatter" value="false"/>
<booleanAttribute key="is monochrome?" value="true"/>
<booleanAttribute key="is pretty formatter?" value="true"/>
<booleanAttribute key="is progress formatter?" value="false"/>
<booleanAttribute key="is rerun formatter" value="false"/>
<booleanAttribute key="is usage formatter" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Selenium_Cucumber"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre1.8.0_171"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Selenium_Cucumber"/>
<booleanAttribute key="pde.generated.config" value="true"/>
</launchConfiguration>
